/*body*/
body{
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
    /*display: grid;*/
    @include flexible(grid, none);
    .padre{
        display:flex;
        flex-flow: column nowrap;
        text-decoration: none;
        .margen-interno{
            padding: 0 50px;
            text-decoration: none;
            }
        }
    }

